:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #0a0a0a;
  background: #F0F4F9;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #0a0a0a;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Base Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #007bff;
  color: white;
}

thead th {
  color: #FFF;
  font-weight: 500;
  padding: 12px 15px;
  word-wrap: break-word; /* Allow long text to break */
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

tbody td {
  padding: 12px 15px;
  word-wrap: break-word; /* Allow text to wrap within columns */
}

caption {
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
  color: #333;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
  table {
    font-size: 16px;
  }

  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  thead th, tbody td {
    white-space: normal; /* Allow text to wrap */
  }
}

@media (max-width: 500px) {
  .table-container {
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    -webkit-overflow-scrolling: touch;
  }

  table {
    font-size: 14px;
    width: 100%; /* Ensure table stretches to fit */
  }

  thead th, tbody td {
    padding: 8px;
    font-size: 13px;
    white-space: normal; /* Allow wrapping of text */
  }

  tbody tr {
    display: table-row; /* Retain row structure for responsiveness */
  }

  tbody td {
    text-align: left; /* Ensure alignment for readability */
    word-break: break-word; /* Break long text into multiple lines */
  }
}
